nav.material-navbar {
  display: inline-block;
  position: relative;
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.12);

  ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    li {

      &:first-of-type {
        margin-left: 8px;
      }

      &:last-of-type {
        margin-right: 8px;
      }

      &.active {
        a {
          color: #337ab7;
        }
      }
      a {
        display: block;
        position: relative;
        padding: 12px 16px;
        line-height: 24px;
        color: #212121;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .material-navbar-border {
    position: absolute;
    bottom: 0;
    right: auto;
    width: 0;
    height: 2px;
    background: #337ab7;
    -webkit-transition: left .25s cubic-bezier(.35,0,.25,1),right .125s cubic-bezier(.35,0,.25,1);
    -moz-transition: left .25s cubic-bezier(.35,0,.25,1),right .125s cubic-bezier(.35,0,.25,1);
    transition: left .25s cubic-bezier(.35,0,.25,1),right .125s cubic-bezier(.35,0,.25,1);
  }
}

.ripple-wrapper {
  display: block;
  position: absolute;
  background: rgba(51, 122, 183, 0.2);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.ripple-wrapper.animated {
  animation: ripple 0.65s linear;
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
}

.ripple {
  overflow: hidden;
  position: relative;
  user-select: none;
  outline: none;
}

@keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}
@-o-keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}